[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.3"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
pyyaml = "*"
joblib = "*"
ipython = "*"
mlxtend = "*"
missingpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
